# Supabase configuration

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database Configuration (if using external Postgres)
DATABASE_URL=your-postgres-connection-string
